@{
    ViewData["Title"] = "MSSQL_Create_Product";
}
<h1>@ViewData["MSSQL_Create_Product"]</h1>
<table>
    <tr>
        <th><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MSSQL">查詢</a></th>
        <th><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MSSQL_Create_Product">新增</a></th>
    </tr>
</table>
<form method="post" action="/Home/MSSQL_Create_Product">
    <div class="form-group">
        <label for="inputID" class="col-sm-2">ID</label>
        <div class="col-sm-10">
            <input typr="text" id="inputID" name="ID" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputNAME" class="col-sm-2">NAME</label>
        <div class="col-sm-10">
            <input typr="text" id="inputNAME" name="NAME" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputPRICE" class="col-sm-2">PRICE</label>
        <div class="col-sm-10">
            <input typr="text" id="inputPRICE" name="PRICE" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputQUANTITY" class="col-sm-2">QUANTITY</label>
        <div class="col-sm-10">
            <input typr="text" id="inputQUANTITY" name="QUANTITY" class="form-control" />
        </div>
    </div>
    <input type="submit" value="新增" />
</form>